[Unit]
Description=Creates human-readable symlinks for Proton prefixes; checks every few minutes.

[Service]
Type=simple
Restart=always
RestartSec=1800s
ExecStart=shortix

[Install]
WantedBy=default.target
